.bounty {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    width: 275px;
    height: 300px;
    border: 1px solid #222;
    margin: 20px;
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-self: center;
}

.delete {
    background-color: #dd5041;
}

.edit-form {
    width: 275px;
    height: auto;
    margin: 10px;;
}

.edit-form > button{
    margin: 10px auto;
    background-color: #dd5041;
}
